<h1>Listing segment_types</h1>

<table>
  <tr>
    <th>Type name</th>
    <th>Description</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @segment_types.each do |segment_type| %>
  <tr>
    <td><%= segment_type.type_name %></td>
    <td><%= segment_type.description %></td>
    <td><%= link_to 'Show', segment_type %></td>
    <td><%= link_to 'Edit', edit_segment_type_path(segment_type) %></td>
    <td><%= link_to 'Destroy', segment_type, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Segment type', new_segment_type_path %>
